body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f11; /* dark slate / deep black */
  color: #8a8a8a; /* light gray text for default */
}

html {
  height: 100%;
  overflow-y: scroll; /* allows scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #d0d0d0; /* light gray */
}

a {
  color: #8a8a8a; /* soft blue */
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #cacaca; /* lighter blue on hover */
  text-decoration: bold;
}

a:visited {
  color: #4f83c4; /* optional: tweak if you want visited links to look different */
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  align-items: flex-start;
  animation: fadeIn 1s ease-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .left-icons {
    left: 0px !important;
  }

  .right-icons {
    right: 0px !important;
  }

  .tech-icons {
    gap: 12px;
  }

  .tech-icon-wrapper {
    width: 28px !important;
    height: 28px !important;
  }

  .tech-icon {
    width: 16px !important;
    height: 16px !important;
  }
}

@media (max-width: 1500px) {
  .projects-container {
    grid-template-columns: 1fr !important;
  }
}
